
@font-face {
    font-family: MostraNuovaB;
    src: url("../fonts/Mostra Nuova AltB Regular.otf") format("opentype");
}

@font-face {
    font-family: MostraNuovaB;
    font-weight: bold;
    src: url("../fonts/Mostra Nuova AltB Bold.otf") format("opentype");
}

@font-face {
    font-family: MostraNuovaD;
    src: url("../fonts/Mostra Nuova AltD Regular.otf") format("opentype");
}

@font-face {
    font-family: MostraNuovaD;
    font-weight: bold;
    src: url("../fonts/Mostra Nuova AltD Bold.otf") format("opentype");
}

body{
    font-family: 'MostraNuovaB';
    padding: 0;
    margin: 0;
    height:100%;
    color:white;
}

body a{
    text-decoration: none;
    color: white;
}

body a:hover{
    text-decoration: none;
    color: white;
}

.clear{
    clear:both;
}

.bold{
    font-weight: bold;
}

.slide_container {
    width:100%;
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
    margin:0 auto;
    display: table;
    border-bottom: 5px solid white;
}



video#bgvid { 
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background: url('../../content/images/staticMainBcg.png') no-repeat center center;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#welcomeSlide{
    /*background: url('../../content/images/staticMainBcg.png')  no-repeat center center;*/
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100vh;
}

.mainLogo{
    margin-top:60px;
    z-index:3;
}

#aboutUs{
    background: url('../../content/images/aboutUsBcg.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100vh;
}

.menuContainer{
    margin:0 auto;
    width:100%;
}

#aboutUsMenuContainer{
    
}

.welcomeSlideContentContainer{
    opacity:0;
}

#eventMenuContainer{
    opacity: 0;
}

#mediaMenuContainer{
    opacity:0;
}

.menuAboutUsImg{
    width:500px;
    margin: 0 auto;
    margin-top:30px;
}

.menu{
    margin: 15px 0px -30px 0px;
    padding: 0;
    list-style: none;
}

.menu > li{
    display:inline;
    font-size:18px;
    margin:0 27.5px;
}

#aboutUsHeader{
    font-size:70px;
    display:block;
    margin:0 auto;
    width:500px;
    margin-top: 80px;
    margin-bottom:25px;
}

#aboutUsText{
    font-size:14px;
    width: 850px;
    line-height: 1.7;
    margin: 0 auto;
    text-align: justify;
}

#caseStudiesMedia > .menuContainer, #caseStudiesEvent > .menuContainer{
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    height:105px;
    position:absolute;
    z-index:2;
    text-align:center;
}

#event{
    width:100%;
}

#media{
    width:100%;
}

.portfolioRow{
    height: 354px;
    padding: 0;
    margin: 0;
    width:100%;
}

.middleItem{
   margin-left:5px;
}

.eventItem{
    background: rgba(0,0,0,0.7);
    width: calc(25% - 4px);
    display:inline-block;
    position:relative;
    float:left;
    /*border-left:2px solid white;*/
    /*border-right:2px solid white;*/
    height:70vh;
    text-align:center;
}

.eventItem:hover, .mediaItem:hover{
    cursor:pointer;
}

.eventTextContainer{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 70px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    line-height: 1.3;
    padding: 5px 0px;
    height: 130px;
    display: table;
}

.eventText{
    width:90%;
    vertical-align: baseline;
    display: table-cell;
}

.eventHeader{
    font-size:22px;
    font-weight: bold;
}

.mediaTextContainer{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 70px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    line-height: 1.3;
    padding: 5px 0px;
    height: 130px;
    display: table;
}

.mediaText{
    width:90%;
    vertical-align: baseline;
    display: table-cell;
}

#one.eventItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#one.eventItem:after {
    background: url('../../content/images/event/event1hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#two.eventItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#two.eventItem:after {
    background: url('../../content/images/event/event2hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#three.eventItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#three.eventItem:after {
    background: url('../../content/images/event/event3hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#four.eventItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#four.eventItem:after {
    background: url('../../content/images/event/event4hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#one.eventItem:hover {
    background: url('../../content/images/event/event1hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#two.eventItem:hover {
    background: url('../../content/images/event/event2hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#three.eventItem:hover {
    background: url('../../content/images/event/event3hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#four.eventItem:hover {
    background: url('../../content/images/event/event4hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.mediaItem{
    background: rgba(0,0,0,0.7);
    width: calc(25% - 4px);
    float:left;
    display:inline-block;
    position:relative;
    /*border-left:2px solid white;*/
    /*border-right:2px solid white;*/
    height:70vh;
    text-align:center;
}

#one.mediaItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#one.mediaItem:after {
    background: url('../../content/images/media/media1hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#two.mediaItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#two.mediaItem:after {
    background: url('../../content/images/media/media2hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#three.mediaItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#three.mediaItem:after {
    background: url('../../content/images/media/media3hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#four.mediaItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#four.mediaItem:after {
    background: url('../../content/images/media/media4hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#one.mediaItem:hover {
    background: url('../../content/images/media/media1hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#two.mediaItem:hover {
    background: url('../../content/images/media/media2hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#three.mediaItem:hover {
    background: url('../../content/images/media/media3hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#four.mediaItem:hover {
    background: url('../../content/images/media/media4hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contactUs{
    background: url('../../content/images/contactUsBcg.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
    width:100%;
    height:100vh;
    max-height:680px;
    border-bottom:none !important;
    border-top: 5px solid white !important;
}

#contactUsText{
    font-family: MostraNuovaD;
    padding-top:10px;
    width:300px;
    font-size:24px;
    margin: 0 auto;
    text-align:center;
}

.personalData{
    width:190px;
    margin:0 auto;
    margin-bottom: 25px;
}

.addressData{
    
}

.contactUsLogo{
    margin-top:20px;
    width:250px;
}

.videoReel{
    display:none;
}

.videoCloser{
    z-index: 100;
    position: absolute;
    top: 0px;
    display: none;
    right: 50px;
    background: none repeat scroll 0% 0%;
    top: 3px;
}

.videoCloser > img{
    width:50px;
    height:auto;
}

.videoCloser:hover{
    cursor:pointer;
}

#imagesPreloader{
    position:relative; 
    width:100%;
    height:0;
    background: url('../../content/images/event/event1hover.png') no-repeat center center;
    background: url('../../content/images/event/event2hover.png') no-repeat center center;
    background: url('../../content/images/event/event3hover.png') no-repeat center center;
    background: url('../../content/images/event/event4hover.png') no-repeat center center;

    background: url('../../content/images/media/media1hover.png')  no-repeat center center;
    background: url('../../content/images/media/media2hover.png')  no-repeat center center;
    background: url('../../content/images/media/media3hover.png')  no-repeat center center;
    background: url('../../content/images/media/media4hover.png')  no-repeat center center;
}