
@font-face {
    font-family: MostraNuovaB;
    src: url('../fonts/Mostra Nuova AltB Regular.eot');
    src: local('☺'), url('../fonts/Mostra Nuova AltB Regular.woff') format('woff'), url('../fonts/Mostra Nuova AltB Regular.ttf') format('truetype'), url('../fonts/Mostra Nuova AltB Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MostraNuovaB;
    font-weight: bold;
    src: url('../fonts/Mostra Nuova AltB Bold.eot');
    src: local('☺'), url('../fonts/Mostra Nuova AltB Bold.woff') format('woff'), url('../fonts/Mostra Nuova AltB Bold.ttf') format('truetype'), url('../fonts/Mostra Nuova AltB Bold.svg') format('svg');
}

@font-face {
    font-family: MostraNuovaD;
    src: url('../fonts/Mostra Nuova AltD Regular.eot');
    src: local('☺'), url('../fonts/Mostra Nuova AltD Regular.woff') format('woff'), url('../fonts/Mostra Nuova AltD Regular.ttf') format('truetype'), url('../fonts/Mostra Nuova AltD Regular.svg') format('svg');
	
    /*src: url("../fonts/Mostra Nuova AltD Regular.otf") format('opentype')*/
}

@font-face {
    font-family: MostraNuovaD;
    font-weight: bold;
    src: url('../fonts/Mostra Nuova AltD Bold.eot');
    src: local('☺'), url('../fonts/Mostra Nuova AltD Bold.woff') format('woff'), url('../fonts/Mostra Nuova AltD Bold.ttf') format('truetype'), url('../fonts/Mostra Nuova AltD Bold.svg') format('svg');
	
    
    src: url("../fonts/Mostra Nuova AltD Bold.otf") format('opentype')
}

html{
    margin:0;
    padding:0;
}

body{
    font-family: 'MostraNuovaB';
    padding: 0;
    margin: 0;
    height:100%;
    color:white;
    text-shadow: 0.03em 0.03em #333;
}

body a{
    text-decoration: none;
    color: white;
}

body a:hover{
    text-decoration: none;
    color: white;
}

.clear{
    clear:both;
}

.bold{
    font-weight: bold;
}

.slide_container {
    width:100%;
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
    margin:0 auto;
    display: table;
    border-bottom: 5px solid white;
}

video#bgvid { 
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background: url('../../content/images/staticMainBcg.png') no-repeat center center;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#welcomeSlide{
    background: url('../../content/images/pattern2.png');
    width:100%;
    height:100vh;
    position:relative;
}

.mainLogo{
    margin-top:60px;
    z-index:3;
}

#aboutUs{
    background: url('../../content/images/aboutUsBcg2.jpg')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100vh;
}

.mainMobileBcg{
    background: url('../../content/images/staticMainBcg.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:none;
    width:100%;
    height:100vh;
}

.menuContainer{
    margin:0 auto;
    width:100%;
}

#aboutUsMenuContainer{
    
}

.welcomeSlideContentContainer{
    opacity:0;
}

#eventMenuContainer{
    opacity: 0;
}

#mediaMenuContainer{
    opacity:0;
}

.menuAboutUsImg{
    width:500px;
    margin: 0 auto;
    margin-top:30px;
}

.menu{
    margin: 15px 0px -30px 0px;
    padding: 0;
    list-style: none;
}

.menu > li{
    display:inline;
    font-size:20px;
    margin:0 27.5px;
}

#aboutUsHeader{
    font-size:70px;
    display:block;
    margin:0 auto;
    width:500px;
    margin-top: 80px;
    margin-bottom:25px;
    text-shadow: 0.03em 0.03em #333;
}

#aboutUsText{
    font-size: 1em;
    max-width: 1250px;
    width:80%;
    line-height: 1.7;
    margin: -10px auto 50px auto;
    text-align: justify;
    text-shadow: 0.1em 0.1em #333;
}


#caseStudiesMedia{
    margin-bottom:5px;
}

#caseStudiesMedia > .menuContainer, #caseStudiesEvent > .menuContainer{
    width:100%;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    height:105px;
    position:absolute;
    z-index:2;
    text-align:center;
}

#event{
    width:100%;
}

#media{
    width:100%;
}

.portfolioRow{
    height: 354px;
    padding: 0;
    margin: 0;
    width:100%;
}

.middleItem{
   margin-left:5px;
}

.eventItem{
    background: rgba(0,0,0,0.7);
    width: calc(25% - 4px);
    display:inline-block;
    position:relative;
    float:left;
    /*border-left:2px solid white;*/
    /*border-right:2px solid white;*/
    height:70vh;
    text-align:center;
}

.eventItem:hover, .mediaItem:hover{
    cursor:pointer;
}

.eventTextContainer{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 30px;
    font-size: 1em;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    line-height: 1.3;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    height: 145px;
    display: table;
}

.eventText{
    width:90%;
    vertical-align: baseline;
    display: table-cell;
}

.eventHeader{
    font-size:18px;
    font-weight: bold;
}

.mediaTextContainer{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 30px;
    font-size: 1em;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    line-height: 1.3;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    height: 125px;
    display: table;
}

.mediaText{
    width:90%;
    vertical-align: baseline;
    display: table-cell;
}

#one.eventItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#one.eventItem:after {
    background: url('../../content/images/event/event1hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#two.eventItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#two.eventItem:after {
    background: url('../../content/images/event/event2hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#three.eventItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#three.eventItem:after {
    background: url('../../content/images/event/event3hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#four.eventItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#four.eventItem:after {
    background: url('../../content/images/event/event4hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#one.eventItem:hover {
    background: url('../../content/images/event/event1hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#two.eventItem:hover {
    background: url('../../content/images/event/event2hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#three.eventItem:hover {
    background: url('../../content/images/event/event3hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#four.eventItem:hover {
    background: url('../../content/images/event/event4hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.mediaItem{
    background: rgba(0,0,0,0.7);
    width: calc(25% - 4px);
    float:left;
    display:inline-block;
    position:relative;
    /*border-left:2px solid white;*/
    /*border-right:2px solid white;*/
    height:70vh;
    text-align:center;
}

#one.mediaItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#one.mediaItem:after {
    background: url('../../content/images/media/media1hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#two.mediaItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#two.mediaItem:after {
    background: url('../../content/images/media/media2hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#three.mediaItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#three.mediaItem:after {
    background: url('../../content/images/media/media3hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#four.mediaItem {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#four.mediaItem:after {
    background: url('../../content/images/media/media4hover.png') no-repeat center center;
    opacity: 0.5;
    width:100%;
    height:auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#one.mediaItem:hover {
    background: url('../../content/images/media/media1hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#two.mediaItem:hover {
    background: url('../../content/images/media/media2hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#three.mediaItem:hover {
    background: url('../../content/images/media/media3hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#four.mediaItem:hover {
    background: url('../../content/images/media/media4hover.png')  no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#contactUs > video#bgvid { 
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    max-height:70vh;
    width: auto; 
    height: auto; 
    z-index: -100;
    background: black;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contactUs{
    background: url('../../content/images/pattern2.png');
    width:100%;
    height:80vh;
    position:relative;
}

#contactUsText{
    font-family: MostraNuovaD;
    padding-top:10px;
    width:300px;
    font-size:24px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align:center;
}

.personalData{
    width:190px;
    margin:0 auto;
    margin-bottom: 25px;
    font-size: 21px;
    line-height:28px;
}

.personalData > .bold{
    width:190px;
    margin:0 auto;
    margin-bottom: 25px;
    font-size: 25px;
}


.addressData{
    
}

.contactUsLogo{
    margin-top:20px;
    width:250px;
}

.videoReel{
    display:none;
}

.videoCloser{
    z-index: 100;
    position: absolute;
    top: 0px;
    display: none;
    right: 50px;
    background: none repeat scroll 0% 0%;
    top: 3px;
}

.videoCloser > img{
    width:50px;
    height:auto;
}

.videoCloser:hover{
    cursor:pointer;
}

#imagesPreloader{
    position:relative; 
    width:100%;
    height:0;
    background: url('../../content/images/mapGreen.png') no-repeat center center;
}

.fancybox-skin {
    position: relative;
    color: #444;
    text-shadow: none;
    border-radius: 4px;
    background: none;
}

#vimeoIcon{
    position:fixed;
    right: 20px;
    top: 20px;
    width:50px;
    z-index:1000;
}

#vimeoIcon:hover{
    cursor: pointer;
}


@media all and (max-width: 1450px) {
    
    #contactUs{
        background: url('../../content/images/pattern2.png');
        width:100%;
        height:74vh;
        position:relative;
    }
    
    .eventTextContainer{
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: 30px;
        font-size: 1em;
        text-align: center;
        width: 100%;
        margin: 0px auto;
        line-height: 1.3;
        padding: 5px 20px 5px 20px;
        height: 155px;
        display: table;
    }

    .mediaTextContainer{
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: 30px;
        font-size: 1em;
        text-align: center;
        width: 100%;
        margin: 0px auto;
        line-height: 1.3;
        padding: 5px 20px 5px 20px;
        height: 135px;
        display: table;
    }
}


@media screen and (max-width: 1220px) {
    
    .eventTextContainer{
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: 30px;
        font-size: 14px;
        text-align: center;
        width: 100%;
        margin: 0px auto;
        line-height: 1.3;
        padding: 5px 20px 5px 20px;
        height: 140px;
        display: table;
    }

    .mediaTextContainer{
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: 30px;
        font-size: 14px;
        text-align: center;
        width: 100%;
        margin: 0px auto;
        line-height: 1.3;
        padding: 5px 20px 5px 20px;
        height: 125px;
        display: table;
    }
}

@media all and (max-width: 950px) {
    
        .eventItem {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
            display: inline-block;
            float: left;
            height: 70vh;
            position: relative;
            text-align: center;
            width: calc(50% - 2.5px);
        }

        .mediaItem{
            background: rgba(0,0,0,0.7);
            width: calc(50% - 2.5px);
            float:left;
            display:inline-block;
            position:relative;
            height:70vh;
            text-align:center;
        }
        
        #three.eventItem, #three.mediaItem{
            margin-left: 0px !important;
        }
}


@media all and (max-width: 600px) {
        .eventItem {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
            display: inline-block;
            float: left;
            height: 55vh;
            position: relative;
            text-align: center;
            width: 100%;
        }

        .mediaItem{
            background: rgba(0,0,0,0.7);
            width: 100%;
            float:left;
            display:inline-block;
            position:relative;
            height:55vh;
            text-align:center;
        }
        
        .middleItem{
            margin-left: 0px !important;
        }
}


@media all and (max-width: 515px) {
        #welcomeSlide {
            height: 85vh;
        }
        .mainLogo {
            width: 60%;
        }
        
        #aboutUsText {
            font-size: 0.9em;
            width: 77%;
            line-height: 1.4;
        }
        
        #aboutUsHeader {
            font-size: 60px;
            width: 75%;
        }
        
        .menuAboutUsImg {
            width: 90%;
        }
        
        .menu > li {
            margin: 0px 19.5px;
        }
        
        .contactUsLogo {
            width: 60%;
        }
}


@media all and (max-width: 465px) {
        .menu > li {
            margin: 0px 13.5px;
        }
        
        .contactUsLogo {
            width: 60%;
        }
        
        #welcomeSlide{
            background: url('../../content/images/staticMainBcg.png')  no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
        }
        
        #contactUs{
            background: url('../../content/images/contactUsBcg.png')  no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
        }
        
        #bgvid{
            display:none;
        }
}

@media all and (max-width: 405px) {
        .menu > li {
            margin: 0px 9.5px;
        }
        
        .contactUsLogo {
            width: 60%;
        }
}


@media all and (max-width: 375px) {
        .menu > li {
            margin: 0px 6.5px;
        }
        
        .contactUsLogo {
            width: 60%;
        }
}

@media screen and (max-device-width: 1350px) {
        #contactUs{
            background: url('../../content/images/contactUsBcg.png')  no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
        }
        
        .mediaItem{
               width: 24.7%;
               height:500px;
        }
        
        .eventItem{
            width: 24.7%;
            height:500px;
            text-align:center;
        }

        .mainLogo{
            margin-bottom:200px;
        }

        #aboutUsText {
            font-size: 0.9em;
            width: 77%;
            line-height: 1.4;
            margin-bottom:170px;
        }
}


@media screen and (max-device-width: 950px) {
        #contactUs{
            background: url('../../content/images/contactUsBcg.png')  no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
        }

        .eventTextContainer {
            padding: 5px 20px;
            box-sizing: border-box;
            height: 235px;
            display: table;
        }
        .mediaTextContainer {
            padding: 5px 20px;
            box-sizing: border-box;
            height: 165px;
            display: table;
        }
        
        #aboutUsText {
            font-size: 0.9em;
            width: 77%;
            line-height: 1.4;
            margin-bottom:200px;
        }

        .mainLogo{
            margin-bottom:380px;
        }

        .mediaItem{
               width: 24.6%;
               height:500px;
        }

        #two.mediaItem{
               margin-right:5px;
        }
         #two.eventItem{
               margin-right:5px;
        }
        
        .eventItem{
            width: 24.6%;
            height:500px;
            text-align:center;
        }
}

@media screen and (max-device-width: 600px) {

        .eventItem {
            background: none;
            display: inline-block;
            float: left;
            height: 450px;
            position: relative;
            text-align: center;
            width: 100%;
            margin:0;
            padding:0;
        }

        .mediaItem{
            background: none;
            width: 100%;
            float:left;
            display:inline-block;
            position:relative;
            border:none;
            margin:0;
            padding:0;
            height:450px;
            text-align:center;
        }
        
        
        .eventTextContainer{
            background-color: rgba(0, 0, 0, 0.4);
        }
        
        .mediaTextContainer{
            background-color: rgba(0, 0, 0, 0.4);
        }
        
        #one.eventItem:after{
            background:none;
        }

        #one.mediaItem {
            background: url('../../content/images/media/media1hover.png')  no-repeat center center;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            opacity:1;
        }
        #two.mediaItem {
            background: url('../../content/images/media/media2hover.png')  no-repeat center center;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            opacity:1;
        }
        #three.mediaItem {
            background: url('../../content/images/media/media3hover.png')  no-repeat center center;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            opacity:1;
        }
        #four.mediaItem {
            background: url('../../content/images/media/media4hover.png')  no-repeat center center;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            opacity:1;
        }

        
        #one.eventItem {
            background: url('../../content/images/event/event1hover.png')  no-repeat center center;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            opacity:1;
        }
        #two.eventItem {
            background: url('../../content/images/event/event2hover.png')  no-repeat center center;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            opacity:1;
        }
        #three.eventItem {
            background: url('../../content/images/event/event3hover.png')  no-repeat center center;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            opacity:1;
        }
        #four.eventItem {
            background: url('../../content/images/event/event4hover.png')  no-repeat center center;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            opacity:1;
        }
        
        #contactUsText {
            width: 95%;
        }
        
        .middleItem{
            margin: 0;
            padding:0;
        }
}


@media screen and (max-device-width: 515px) {
        #welcomeSlide {
            height: 300px;
        }
        
        .mainLogo {
            width: 60%;
            margin-bottom:70px;
        }
        
        #aboutUsText {
            font-size: 0.9em;
            width: 77%;
            line-height: 1.4;
            margin-bottom:70px;
        }
        
        #aboutUsHeader {
            font-size: 60px;
            width: 75%;
            margin-top: 15px;
            margin-bottom:15px;
        }
        
        .menuAboutUsImg {
            width: 95%;
        }
        
        .menu > li {
            margin: 0px 19.5px;
        }
        
        .contactUsLogo {
            width: 60%;
        }
}


@media screen and (max-device-width: 465px) {
        .menu > li {
            margin: 0px 13.5px;
        }
        
        .contactUsLogo {
            width: 60%;
        }
        
        #welcomeSlide{
            background: url('../../content/images/staticMainBcg.png')  no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
            height:100%;
            width:100%;
        }
        
        #aboutUs{
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
            height:100%;
            width:100%;
        }
        
        #contactUs{
            background: url('../../content/images/contactUsBcg.png')  no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
            height:auto;
            width:100%;
        }       
        
        #bgvid{
            display:none;
        }
        
        .menu{
             margin: 2px 0px 0px 0px;
        }
        
        .eventItem {
            width:100%;
            height:450px;
            background: none;
            margin:0;
            padding:0;
        }

        .mediaItem{
            width:100%;
            height:450px;
            background: none;
            margin:0;
            padding:0;
        }
        
        #caseStudiesEvent{
            width:100%;
            height:500px;
        }
        
        #caseStudiesMedia{
            width:100%;
            height:500px;
        }
}

@media screen and (max-device-width: 405px) {
        .menu > li {
            margin: 0px 9.5px;
        }
        
        .contactUsLogo {
            width: 60%;
        }
}


@media screen and (max-device-width: 375px) {
        .menu > li {
            margin: 0px 2.5px;
            font-size: 18px;
        }
        
        .contactUsLogo {
            width: 60%;
        }
}